name: "IndexNow"
on:
  push:
    branches:
      - main

jobs:
  check-and-submit:
    runs-on: ubuntu-latest
    steps:
      - name: submit-to-bing
        uses: bojieyang/indexnow-action@v2
        with:
          sitemap-location: "https://fastnow.github.io/sitemap.xml"
          endpoint: "www.bing.com"
          since: 7
          since-unit: "day"
          limit: 10
          key: ${{ secrets.INDEXNOW_KEY }}
          key-location: ${{ secrets.INDEXNOW_KEY_LOCATION }}
